In [1]:
%pip install Pandas

Requirement already satisfied: Pandas in c:\users\91809\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\91809\appdata\local\programs\python\python312\lib\site-packages (from Pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\91809\appdata\roaming\python\python312\site-packages (from Pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\91809\appdata\local\programs\python\python312\lib\site-packages (from Pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\91809\appdata\local\programs\python\python312\lib\site-packages (from Pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\91809\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->Pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd

# Load the uploaded CSV file to inspect its structure
file_path = r'C:\Soundhar\Project\Resource management\Final_list.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the file to understand its structure
data.head()

,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,...,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
0,`07,`000,STATE - NCT OF DELHI,`01,`000,`0000,"Crop and animal production, hunting and relate...",1484,1271,213,...,162,224,150,74,23,13,10,201,137,64
1,`07,`000,STATE - NCT OF DELHI,`01,`011,`0000,Growing of non-perennial crops,169,151,18,...,16,92,65,27,14,12,2,78,53,25
2,`07,`000,STATE - NCT OF DELHI,`01,`011,`0111,"Growing of cereals (except rice), leguminous c...",83,81,2,...,0,37,27,10,8,6,2,29,21,8
3,`07,`000,STATE - NCT OF DELHI,`01,`011,`0112,Growing of rice,9,9,0,...,0,0,0,0,0,0,0,0,0,0
4,`07,`000,STATE - NCT OF DELHI,`01,`011,`0113,"Growing of vegetables and melons, roots and tu...",42,34,8,...,8,52,35,17,6,6,0,46,29,17

In [5]:
# Define the state code to state name mapping
state_code_mapping = {
    1: "JAMMU AND KASHMIR",
    2: "HIMACHAL PRADESH",
    3: "PUNJAB",
    4: "CHANDIGARH",
    5: "UTTARAKHAND",
    6: "HARYANA",
    7: "DELHI",
    8: "RAJASTHAN",
    9: "UTTAR PRADESH",
    10: "BIHAR",
    11: "SIKKIM",
    12: "ARUNACHAL PRADESH",
    13: "NAGALAND",
    14: "MANIPUR",
    15: "MIZORAM",
    16: "TRIPURA",
    17: "MEGHALAYA",
    18: "ASSAM",
    19: "WEST BENGAL",
    20: "JHARKHAND",
    21: "ORISSA",
    22: "CHHATTISGARH",
    23: "MADHYA PRADESH",
    24: "GUJARAT",
    25: "DAMAN AND DIU",
    26: "DADAR AND NAGAR HAVELI",
    27: "MAHARASTRA",
    29: "KARNATAKA",
    30: "GOA",
    31: "LAKSHADWEEP",
    32: "KERALA",
    33: "TAMIL NADU",
    34: "PUDUCHERRY",
    35: "ANDAMAN AND NICOBAR",
    36: "TELANGANA",
    37: "ANDHRA PRADESH",
    96: "OTHER COUNTRY",
    97: "OTHER TERRITORY"
}

# Clean the `State Code` column to remove backticks and convert to integers
data['State Code'] = data['State Code'].str.strip('`').astype(int)

# Map state names to a new column
data['State Name'] = data['State Code'].map(state_code_mapping)

# Save the updated DataFrame
output_path = r'C:\Soundhar\Project\Resource management\Final_list_with_state_names.csv'
data.to_csv(output_path, index=False)

output_path

'C:\\Soundhar\\Project\\Resource management\\Final_list_with_state_names.csv'

In [8]:
# Load the uploaded CSV file to inspect its structure
file_path = r'C:\Soundhar\Project\Resource management\Final_list_with_state_names.csv'
data = pd.read_csv(file_path)

In [9]:
# Display the first few rows of the file to understand its structure
data.head()

,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,...,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females,State Name
0,7,`000,STATE - NCT OF DELHI,`01,`000,`0000,"Crop and animal production, hunting and relate...",1484,1271,213,...,224,150,74,23,13,10,201,137,64,DELHI
1,7,`000,STATE - NCT OF DELHI,`01,`011,`0000,Growing of non-perennial crops,169,151,18,...,92,65,27,14,12,2,78,53,25,DELHI
2,7,`000,STATE - NCT OF DELHI,`01,`011,`0111,"Growing of cereals (except rice), leguminous c...",83,81,2,...,37,27,10,8,6,2,29,21,8,DELHI
3,7,`000,STATE - NCT OF DELHI,`01,`011,`0112,Growing of rice,9,9,0,...,0,0,0,0,0,0,0,0,0,DELHI
4,7,`000,STATE - NCT OF DELHI,`01,`011,`0113,"Growing of vegetables and melons, roots and tu...",42,34,8,...,52,35,17,6,6,0,46,29,17,DELHI

In [10]:
# Define a function to classify NIC activities into industrial groups
def classify_industry(nic_name):
    if "Crop" in nic_name or "Growing" in nic_name:
        return "Agriculture"
    elif "Manufacturing" in nic_name:
        return "Manufacturing"
    elif "Construction" in nic_name:
        return "Construction"
    elif "Mining" in nic_name:
        return "Mining and Quarrying"
    elif "Electricity" in nic_name or "Gas" in nic_name:
        return "Utilities"
    elif "Trade" in nic_name or "Retail" in nic_name:
        return "Trade and Commerce"
    elif "Transport" in nic_name or "Warehousing" in nic_name:
        return "Transportation and Warehousing"
    elif "Education" in nic_name:
        return "Education"
    elif "Health" in nic_name or "Social" in nic_name:
        return "Healthcare and Social Work"
    elif "Accommodation" in nic_name or "Food" in nic_name:
        return "Hospitality"
    elif "Financial" in nic_name or "Insurance" in nic_name:
        return "Financial Services"
    elif "Real Estate" in nic_name or "Rental" in nic_name:
        return "Real Estate"
    elif "Administrative" in nic_name or "Support" in nic_name:
        return "Administrative Services"
    elif "Public" in nic_name or "Defence" in nic_name:
        return "Public Administration"
    elif "Arts" in nic_name or "Entertainment" in nic_name:
        return "Arts and Entertainment"
    else:
        return "Other"

# Apply the classification function to the NIC Name column
data['Industrial Group Name'] = data['NIC Name'].apply(classify_industry)

# Save the updated DataFrame with the new column
output_path_industry = r'C:\Soundhar\Project\Resource management\Final_list_with_industrial_groups.csv'
data.to_csv(output_path_industry, index=False)

In [11]:
# Load the uploaded CSV file to inspect its structure
file_path = r'C:\Soundhar\Project\Resource management\Final_list_with_industrial_groups.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the file to understand its structure
data.head()

,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,...,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females,State Name,Industrial Group Name
0,7,`000,STATE - NCT OF DELHI,`01,`000,`0000,"Crop and animal production, hunting and relate...",1484,1271,213,...,150,74,23,13,10,201,137,64,DELHI,Agriculture
1,7,`000,STATE - NCT OF DELHI,`01,`011,`0000,Growing of non-perennial crops,169,151,18,...,65,27,14,12,2,78,53,25,DELHI,Agriculture
2,7,`000,STATE - NCT OF DELHI,`01,`011,`0111,"Growing of cereals (except rice), leguminous c...",83,81,2,...,27,10,8,6,2,29,21,8,DELHI,Agriculture
3,7,`000,STATE - NCT OF DELHI,`01,`011,`0112,Growing of rice,9,9,0,...,0,0,0,0,0,0,0,0,DELHI,Agriculture
4,7,`000,STATE - NCT OF DELHI,`01,`011,`0113,"Growing of vegetables and melons, roots and tu...",42,34,8,...,35,17,6,6,0,46,29,17,DELHI,Agriculture

In [12]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score

In [13]:
# Load the dataset
file_path = r'C:\Soundhar\Project\Resource management\Final_list_with_industrial_groups.csv'
data = pd.read_csv(file_path)

In [14]:
# Data Exploration
print(data.info())  # Get an overview of the dataset
print(data.describe())  # Summarize numerical columns
print(data['NIC Name'].value_counts().head(10))  # Check the most common NIC names

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189559 entries, 0 to 189558
Data columns (total 27 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   State Code                           189559 non-null  int64
 1   District Code                        189559 non-null  object
 2   India/States                         189559 non-null  object
 3   Division                             189559 non-null  object
 4   Group                                189559 non-null  object
 5   Class                                189559 non-null  object
 6   NIC Name                             189559 non-null  object
 7   Main Workers - Total -  Persons      189559 non-null  int64
 8   Main Workers - Total - Males         189559 non-null  int64
 9   Main Workers - Total - Females       189559 non-null  int64
 10  Main Workers - Rural -  Persons      189559 non-null  int64
 11  Main Workers - Rural - Males         189559 non-null  int64
 12  Main Workers - Rural - Females       189559 non-null  int64
 13  Main Workers - Urban -  Persons      189559 non-null  int64
 14  Main Workers - Urban - Males         189559 non-null  int64
 15  Main Workers - Urban - Females       189559 non-null  int64
 16  Marginal Workers - Total -  Persons  189559 non-null  int64
 17  Marginal Workers - Total - Males     189559 non-null  int64
 18  Marginal Workers - Total - Females   189559 non-null  int64
 19  Marginal Workers - Rural -  Persons  189559 non-null  int64
 20  Marginal Workers - Rural - Males     189559 non-null  int64
 21  Marginal Workers - Rural - Females   189559 non-null  int64
 22  Marginal Workers - Urban -  Persons  189559 non-null  int64
 23  Marginal Workers - Urban - Males     189559 non-null  int64
 24  Marginal Workers - Urban - Females   189559 non-null  int64
 25  State Name                           189559 non-null  object
 26  Industrial Group Name                189559 non-null  object
dtypes: int64(19), object(8)
memory usage: 39.0+ MB
None
          State Code  Main Workers - Total -  Persons  \
count  189559.000000                     1.895590e+05
mean       19.348699                     1.145548e+03
std         9.120568                     1.457257e+04
min         2.000000                     0.000000e+00
25%        10.000000                     6.000000e+00
50%        19.000000                     2.900000e+01
75%        27.000000                     1.890000e+02
max        34.000000                     2.559212e+06

       Main Workers - Total - Males  Main Workers - Total - Females  \
count                  1.895590e+05                   189559.000000
mean                   9.168021e+02                      228.746301
std                    1.264660e+04                     3537.971133
min                    0.000000e+00                        0.000000
25%                    6.000000e+00                        0.000000
50%                    2.400000e+01                        3.000000
75%                    1.460000e+02                       24.000000
max                    2.416140e+06                   452152.000000

       Main Workers - Rural -  Persons  Main Workers - Rural - Males  \
count                    189559.000000                 189559.000000
mean                        506.537163                    396.733545
std                        6850.473769                   5741.205014
min                           0.000000                      0.000000
25%                           2.000000                      1.000000
50%                          12.000000                      8.000000
75%                          74.000000                     56.000000
max                      934749.000000                 886601.000000

       Main Workers - Rural - Females  Main Workers - Urban -  Persons  \
count                   189559.000000                     1.895590e+05
mean                       109.803618                     6.390112e+02
std                       2086.204832                     8.433739e+03
min                          0.000000                     0.000000e+00
25%                          0.000000                     2.000000e+00
50%                          0.000000                     1.200000e+01
75%                          8.000000                     8.600000e+01
max                     299321.000000                     1.624463e+06

       Main Workers - Urban - Males  Main Workers - Urban - Females  \
count                  1.895590e+05                   189559.000000
mean                   5.200685e+02                      118.942683
std                    7.413309e+03                     1820.773641
min                    0.000000e+00                        0.000000
25%                    1.000000e+00                        0.000000
50%                    9.000000e+00                        0.000000
75%                    6.800000e+01                       11.000000
max                    1.529539e+06                   213182.000000

       Marginal Workers - Total -  Persons  Marginal Workers - Total - Males  \
count                        189559.000000                     189559.000000
mean                            279.267669                        140.129859
std                            5134.601550                       2259.270024
min                               0.000000                          0.000000
25%                               0.000000                          0.000000
50%                               4.000000                          2.000000
75%                              28.000000                         18.000000
max                          940826.000000                     292869.000000

       Marginal Workers - Total - Females  \
count                       189559.000000
mean                           139.137809
std                           3411.663894
min                              0.000000
25%                              0.000000
50%                              0.000000
75%                              6.000000
max                         647957.000000

       Marginal Workers - Rural -  Persons  Marginal Workers - Rural - Males  \
count                        189559.000000                     189559.000000
mean                            191.813409                         89.323208
std                            3702.499152                       1489.610307
min                               0.000000                          0.000000
25%                               0.000000                          0.000000
50%                               1.000000                          0.000000
75%                              14.000000                          8.000000
max                          536452.000000                     188345.000000

       Marginal Workers - Rural - Females  \
count                       189559.000000
mean                           102.490201
std                           2620.034984
min                              0.000000
25%                              0.000000
50%                              0.000000
75%                              3.000000
max                         384587.000000

       Marginal Workers - Urban -  Persons  Marginal Workers - Urban - Males  \
count                        189559.000000                     189559.000000
mean                             87.454260                         50.806651
std                            1773.842344                        856.584222
min                               0.000000                          0.000000
25%                               0.000000                          0.000000
50%                               0.000000                          0.000000
75%                               9.000000                          6.000000
max                          404374.000000                     141004.000000

       Marginal Workers - Urban - Females
count                       189559.000000
mean                            36.647608
std                           1060.036414
min                              0.000000
25%                              0.000000
50%                              0.000000
75%                              2.000000
max                         263370.000000
NIC Name
Construction of buildings                                      1410
Activities of households as employers of domestic personnel    1272
Manufacture of furniture                                       1203
Water collection, treatment and supply                         1158
Veterinary activities                                          1083
Incomplete description/ Wrongly Classifed                       942
Primary education                                               918
Manufacture of tobacco products                                 903
Blank                                                           894
Other human health activities                                   888
Name: count, dtype: int64

In [15]:
# Data Cleaning
# Remove rows with missing NIC Name
data = data.dropna(subset=['NIC Name'])

In [16]:
# Feature Engineering
# Use TF-IDF to extract features from the 'NIC Name' column
tfidf = TfidfVectorizer(stop_words='english', max_features=100)
X_tfidf = tfidf.fit_transform(data['NIC Name'])

In [17]:
# Clustering industries using KMeans
kmeans = KMeans(n_clusters=5, random_state=42)  # Number of clusters can be adjusted
data['Industry Cluster'] = kmeans.fit_predict(X_tfidf)

In [18]:
# Assign business categories to clusters (manual mapping for now)
cluster_mapping = {
    0: "Agriculture",
    1: "Retail",
    2: "Manufacturing",
    3: "Services",
    4: "Poultry"  # Adjust based on inspection of clusters
}
data['Business Category'] = data['Industry Cluster'].map(cluster_mapping)

In [19]:
# Model Building and Testing
# Example: Predicting the 'Business Category' based on worker demographics
# Encode the target variable
data['Category_Code'] = data['Business Category'].factorize()[0]

In [21]:
# Select features and target
features = ['Main Workers - Total -  Persons', 'Main Workers - Total - Males', 'Main Workers - Total - Females']
X = data[features]
y = data['Category_Code']

In [22]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
# Train a simple model (e.g., Random Forest)
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [25]:

# Evaluate the model
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))
print("Accuracy:", accuracy_score(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.54      0.90      0.68     19515
           1       0.48      0.17      0.25      8884
           2       0.38      0.10      0.16      3193
           3       0.40      0.09      0.15      5830
           4       0.74      0.32      0.44       490

    accuracy                           0.53     37912
   macro avg       0.51      0.32      0.34     37912
weighted avg       0.49      0.53      0.45     37912

Accuracy: 0.5291991981430682

In [26]:
# Save the cleaned and processed dataset
output_path = r'C:\Soundhar\Project\Resource management\Processed_Final_list.csv'
data.to_csv(output_path, index=False)

In [27]:
# Display the first few rows of the file to understand its structure
data.head()

,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,...,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females,State Name,Industrial Group Name,Industry Cluster,Business Category,Category_Code
0,7,`000,STATE - NCT OF DELHI,`01,`000,`0000,"Crop and animal production, hunting and relate...",1484,1271,213,...,13,10,201,137,64,DELHI,Agriculture,4,Poultry,0
1,7,`000,STATE - NCT OF DELHI,`01,`011,`0000,Growing of non-perennial crops,169,151,18,...,12,2,78,53,25,DELHI,Agriculture,4,Poultry,0
2,7,`000,STATE - NCT OF DELHI,`01,`011,`0111,"Growing of cereals (except rice), leguminous c...",83,81,2,...,6,2,29,21,8,DELHI,Agriculture,4,Poultry,0
3,7,`000,STATE - NCT OF DELHI,`01,`011,`0112,Growing of rice,9,9,0,...,0,0,0,0,0,DELHI,Agriculture,4,Poultry,0
4,7,`000,STATE - NCT OF DELHI,`01,`011,`0113,"Growing of vegetables and melons, roots and tu...",42,34,8,...,6,0,46,29,17,DELHI,Agriculture,4,Poultry,0